[core]
	excludesfile = /home/mcl/.gitignore
	editor = vim
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
    logp = log --graph --pretty=oneline --abbrev-commit
    logp2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%cD%C(reset) %C(bold green)(%cr)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %cn%C(reset)' --abbrev-commit
    showtags = show-ref --tags
    hist = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset%n%w(80,8,8)%s' --graph
    histfull = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset%n%w(80,8,8)%s%n' --graph --name-status
    llog = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=iso
[user]
	name = Marcin Cylke
	email = mcl@touk.pl
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = matching
